@import "../../styles/variables";
@import "../../styles/shared";

.button {
  @extend .animated;
  background-color: $dark-blue;
  font-family: inherit;
  border: none;
  color: $white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 70px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  &.icon {
    padding: 11px 19px 11px 27px;

    & > span {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-align: left;
    }
  }

  &.default {
    padding: 23px 33px;

    & > span {
      text-align: center;
      white-space: nowrap;
    }
  }

  span {
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: $white;
  }

  svg {
    flex-shrink: 0;
    margin-bottom: -2px;
  }

  &:disabled {
    background-color: $gray;
  }
}
