// Typography
$font-family: "neue-haas-grotesk-display";

// Layout
$screen-max-width: 1680px;
$padding-left: 55px;

// Colors
$surface-light: #ffffff;
$surface-dark: #56585c;
$surface-dark-20: #56585c20;
$surface-primary: #fcd700;
